:root {
  --scdfl-red: #f22e3d;
  --scdfl-blue: #22283a;
  --scdfl-gold: #f2b22e;
  --scdfl-neutral: #e2d7ce;
}

* {
  border: 1px solid rebeccapurple;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--scdfl-neutral);
  margin: 1.5em 0.5em 0;
  font-family: "Lato", sans-serif;
}

/* Page Header Styles */

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2vw;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  display: flex;
  justify-content: center;
}

.external-link {
  max-height: 12vw;
}

#league-logo {
  width: 28vw;
  /* max-width: 200px; */
}

.header-text {
  text-align: center;
}

.title {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  line-height: 1em;
  margin-top: 1rem;
}

.subtitle {
  font-family: 'Bungee', sans-serif;
}

.slogan {
  font-family: 'Lato Light Italic', sans-serif;
  font-size: 1em;
}

/* Menu Pane Styles */

#menu {
  display: grid;
  grid-template: repeat(3, 25vw) / repeat(3, 25vw);
  justify-content: center;
  gap: 2vw;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  max-height: 50%;
}

.menu-text {
  font-family: "Lato Bold", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
