:root {
  --scdfl-red: #f22e3d;
  --scdfl-blue: #22283a;
  --scdfl-gold: #f2b22e;
  --scdfl-neutral: #e2d7ce;
}

* {
  border: 1px solid rebeccapurple;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--scdfl-neutral);
  margin: 1em 0.2em 0;
  padding: 0.2em;
  font-family: "Lato", sans-serif;
}

.border {
  border-radius: 1rem;
  padding: 0.25em;
}

#border-red {
  border: 2px dashed var(--scdfl-red);
}

#border-gold {
  border: 2px dashed var(--scdfl-gold);
}

#border-blue {
  border: 2px dashed var(--scdfl-blue);
}

/* Page Header Styles */

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2vw;
}

.header-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  display: flex;
  justify-content: center;
}

.external-link {
  max-height: 12vw;
}

#league-logo {
  width: 28vw;
  /* max-width: 200px; */
}

.header-text {
  text-align: center;
  line-height: 1em;
}

h1 {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  margin-top: 1rem;
}

h2 {
  font-family: 'Bungee', sans-serif;
  margin: 1rem 0 0.5rem;
}

h3 {
  font-family: 'Lato Light Italic', sans-serif;
  font-size: 1em;
}

/* Menu Pane Styles */

#menu {
  display: grid;
  grid-template: repeat(3, 25vw) / repeat(3, 25vw);
  justify-content: center;
  gap: 3vw;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.125em solid var(--scdfl-blue);
  border-radius: 1rem;
}

.menu-icon {
  max-height: 50%;
}

.menu-text {
  font-family: "Lato Bold", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
